<div class="n-container">
  <nav class="n-nav">
    <div class="n-wrapper">
      <div class="n-logo">
        <p>adtile</p>
      </div>
      <ul class="n-links n-active">
        <% for(var i = 0; i < 15; i++) { %>
        <li><a href="">something</a></li>
        <% } %>
      </ul>
      <div class="n-burger">
        <div>test</div>
      </div>
    </div>
  </nav>
</div>