<div class="n-container">
  <nav class="n-nav">
    <div class="n-wrapper">
      <div>
        <a href="./" class="n-logo n-anchor">
          <p>Adtile <b>MotionStack</b></p>
        </a>
        <ul class="n-links">
          <% for(var i = 0; i < 3; i++) { %>
          <li class="n-item"><a href="" class="n-anchor">something</a></li>
          <% } %>
          <li class="n-item">
            <form action="./search.html" method="get">
              <input class="search-input n-input" name="q" placeholder="Search"></input>
            </form>
          </li>
        </ul>
        <a href="#" class="n-burger">
         <div></div>
         <div></div>
         <div></div>
       </a>
     </div>
   </div>
 </nav>
</div>