<div class="n-container">
  <nav class="n-nav">
    <div class="n-wrapper">
      <div>
        <a href="./" class="n-logo n-anchor">
          <p>Adtile <b>MotionStack</b></p>
        </a>
        <ul class="n-links">
          <% for(var i = 0; i < 3; i++) { %>
          <li><a href="" class="n-anchor">something</a></li>
          <% } %>
        </ul>
        <a href="#" class="n-burger">
         <div></div>
         <div></div>
         <div></div>
       </a>
     </div>
   </div>
 </nav>
</div>