<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no"/>
  <meta name="description" content="Responsive, fixed and  vanilla JavaScript navbar.">
  <meta name="keywords" content="fixednav,fixed,nav,responsive,navbar,adtile,javascript,html,css">
  <meta name="author" content="Adtile Technologies Inc.">
  <title>Simple Fixed Nav</title>

  <style type="text/css">
    * {
      box-sizing: border-box;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="./styles/fixedNav.css">
  <link rel="stylesheet" type="text/css" href="./styles/customStyles.css">
</head>
<body>
  <% include ./partials/_fixedNav %>

  <!-- TEST CONTENT -->
  <% for(var i = 0; i < 20; i++) { %>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
  </p>
  <% } %>
  <!-- END: TEST CONTENT -->

  <script type="text/javascript" src="./scripts/fixedNav.js"></script>
</body>
</html>